.breadcrumbs {
    @include adaptiv-value('margin-bottom', 30, 20, 1);
    &__container {
        display: flex;
        align-items: center;
        gap: 10px;
        a,
        span {
            text-transform: uppercase;
            color: #adadad;
        }
        span.current {
            color: $maincolor;
            font-size: 14px;
        }
        a {
            font-size: 14px;
            transition: 0.3s;
            &:hover {
                color: $accentcolor;
            }
        }
    }
}
