.table-page {
    gap: 0 !important;
    .block-title {
        &:not(:first-child) {
            @include adaptiv-value('margin-top', 50, 30, 1);
        }
    }
    &__tables {
        table {
            @include adaptiv-value('font-size', 16, 14, 1);
            border: $border;
            border-collapse: collapse;
            width: 100%;
            background-color: $lightgraycolor;
            &.colored-header {
                thead {
                    background-color: #eaeaea;
                }
            }
            &:not(:last-child) {
                border-bottom: none;

                tr {
                    &:last-child {
                        td {
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
            }
            thead {
                text-align: center;
                th {
                    @include adaptiv-value('padding', 20, 10, 1);
                    border: $border;
                }
            }
            tbody {
                br {
                    &:not(:last-child) {
                        content: '';
                        display: block;
                        @include adaptiv-value('margin-bottom', 20, 10, 1);
                    }
                    &:first-child {
                        content: '';
                        display: block;
                        @include adaptiv-value('margin-bottom', 20, 10, 1);
                    }
                }
                img {
                    max-width: 100%;
                }
                tr {
                    td {
                        border: $border;
                        @include adaptiv-value('padding', 20, 10, 1);
                        line-height: 150%;
                        &:last-child {
                            min-width: 130px;
                        }
                    }
                }
            }
        }
    }
}
