<footer class="footer">
    <div class="footer__container">
        <a href="/" class="footer__logo">
            <img src="@img/logos/logo.png" alt="logo" />
        </a>

        <div class="footer__column">
            <h6>Contacte Consiliul Raional Rezina:</h6>
            <ul>
                <li>
                    <span class="icon-pin"></span>
                    28813 Jerrold Extensions
                </li>
                <li>
                    <a href="tel:025422650">
                        <span class="icon-phone"></span>
                        025422650 <em>(Tel. președinte)</em>
                    </a>
                </li>
                <li>
                    <a href="tel:025422058">
                        <span class="icon-phone"></span>
                        025422058 <em>(Tel. anticamera preşedintelui)</em>
                    </a>
                </li>
                <li>
                    <a href="mailto:contactrezina@mail.ru">
                        <span class="icon-mail"></span> contactrezina@mail.ru
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer__column">
            <h6>Program de lucru:</h6>
            <ul>
                <li>
                    <span class="icon-today"></span>
                    Luni - Vineri: 08:00 - 17:00
                </li>
                <li>
                    <span class="icon-breakfast"></span>
                    Pauză de masă: 12:00 - 13:00
                </li>
            </ul>
        </div>
        <div class="footer__column">
            <h6>Rețele de socializare:</h6>
            <div class="footer__socials">
                <a href="#">
                    <img src="@img/icons/facebook.svg" alt="facebook" />
                </a>
            </div>
        </div>
    </div>

    <div class="footer__copyright">
        <small>© Copyright 2022</small>
        |
        <small>Toate drepturile rezervate</small>
    </div>
</footer>
