<header class="header">
    <div class="header__top header-top">
        <div class="header__container">
            <a href="/" class="header__logo">
                <img src="@img/logos/logo-rezina.png" alt="logo" />
            </a>
            <form action="#" class="header__search">
                <input type="text" placeholder="Search" class="big" />
                <button class="icon-search"></button>
            </form>
            <div class="header__language header-language">
                <img src="@img/icons/romania.svg" alt="romana" />
                <span class="icon-chevron__down"></span>

                <div class="header-language__dropdown">
                    <img src="@img/icons/romania.svg" alt="romana" />
                </div>
            </div>
            <button type="button" class="burger">
                <span></span>
            </button>
            <a href="#" class="header__logo">
                <img src="@img/logos/logo.png" alt="logo" />
            </a>
        </div>
    </div>

    <div class="header__bottom header-bottom">
        <div class="header__container">
            <nav class="header__nav header-nav">
                <ul class="header-nav__list nav-list">
                    <li class="nav-list__item nav-list__item--sublist">
                        Raionul rezina
                        <span class="icon-chevron__down"></span>
                        <ul class="nav-list__sublist">
                            <li>
                                <a href="#">Simbolica</a>
                            </li>
                            <li>
                                <a href="#">Harta Raionului</a>
                            </li>
                            <li>
                                <a href="#">Harta turistica</a>
                            </li>
                            <li>
                                <a href="#">Strategia de dezvoltare</a>
                            </li>
                            <li>
                                <a href="#">Oportunități investiționale</a>
                            </li>
                            <li>
                                <a href="#">Indicatori socio-economici</a>
                            </li>
                            <li>
                                <a href="#">Potențial turistic</a>
                            </li>
                            <li>
                                <a href="#">Strategia de tineret</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item nav-list__item--sublist">
                        Consiliul raional
                        <span class="icon-chevron__down"></span>
                        <ul class="nav-list__sublist">
                            <li>
                                <a href="#">Conducerea raionului</a>
                            </li>
                            <li>
                                <a href="#">Secretarul consiliului</a>
                            </li>
                            <li>
                                <a href="#">Secții și dizecții</a>
                            </li>
                            <li>
                                <a href="#">Consilieri raionali</a>
                            </li>
                            <li>
                                <a href="#">Comisii de specialitate</a>
                            </li>
                            <li>
                                <a href="#">Organigrama </a>
                            </li>
                            <li>
                                <a href="#">Subdiviziuni</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item nav-list__item--sublist">
                        Știri și evenimente
                        <span class="icon-chevron__down"></span>
                        <ul class="nav-list__sublist">
                            <li>
                                <a href="../blog.html"> Articole </a>
                            </li>
                            <li>
                                <a href="../blog.html"> Anunțuri </a>
                            </li>
                            <li>
                                <a href="../blog.html"> Comunicate de presă </a>
                            </li>
                            <li>
                                <a href="../blog.html"> Felicitări </a>
                            </li>
                            <li>
                                <a href="#"> Funcții vacante </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item nav-list__item--sublist">
                        Transp. decizională
                        <span class="icon-chevron__down"></span>
                        <ul class="nav-list__sublist">
                            <li>
                                <a href="../achizitii.html">Achiziții publice</a>
                            </li>
                            <li>
                                <a href="#">Consultări publice</a>
                            </li>
                            <li>
                                <a href="#">Licitații</a>
                            </li>
                            <li>
                                <a href="#">Inițiere de proiect</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item">
                        <a href="../contacts.html">Contacte</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
