<div class="pagination">
    <ul class="pagination__list pagination-list">
        <li class="pagination-list__item prev">
            <a href="#" class="icon-chevron__left"></a>
        </li>
        <li class="pagination-list__item current"><a href="#">1</a></li>
        <li class="pagination-list__item"><a href="#">2</a></li>
        <li class="pagination-list__item"><a href="#">3</a></li>
        <li class="pagination-list__item next">
            <a href="#" class="icon-chevron__right"></a>
        </li>
    </ul>
</div>
