<aside class="page-sidebar">
    <div class="block-title">
        <h6>Parteneri</h6>
    </div>

    <div class="sidebar-block sidebar-links">
        <a href="#">
            <img src="@img/logos/partner1.png" alt="partner" />
            <span> Euroregiunea “Nistru” </span>
        </a>
        <a href="#">
            <img src="@img/logos/partner2.png" alt="partner" />
            <span> Euroregiunea “Siret-Prut-Nistru” </span>
        </a>
        <a href="#">
            <img src="@img/logos/partner3.png" alt="partner" />
            <span> Raionul Elblag, Polonia </span>
        </a>
        <a href="#">
            <img src="@img/logos/partner4.png" alt="partner" />
            <span> Camera de Comerț și Industrie a Moldoveia </span>
        </a>
    </div>

    <div class="block-title">
        <h6>Video postat recent</h6>
    </div>

    <div class="sidebar-block recent-video">
        <iframe
            src="https://www.youtube.com/embed/s6uDffemUH0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        ></iframe>

        <a href="#" class="button button__gray">Arhivă video</a>
    </div>

    <div class="block-title">
        <h6>Link-uri utile</h6>
    </div>

    <div class="sidebar-block sidebar-links">
        <a target="_blank" href="https://www.parlament.md/">
            <img src="@img/logos/logo.png" alt="stema" />
            <span> Parlament </span>
        </a>
        <a target="_blank" href="https://gov.md/ro">
            <img src="@img/logos/logo.png" alt="stema" />
            <span> Guvern </span>
        </a>
        <a target="_blank" href="http://www.adrcentru.md/">
            <img src="@img/logos/logo.png" alt="stema" />
            <span> ADR Centru </span>
        </a>
        <a target="_blank" href="https://cancelaria.gov.md/">
            <img src="@img/logos/logo.png" alt="stema" />
            <span> Cancelaria de stat </span>
        </a>
        <a target="_blank" href="#">
            <img src="@img/logos/logo.png" alt="stema" />
            <span> Ministere </span>
        </a>
        <a target="_blank" href="#">
            <img src="@img/logos/link1.png" alt="stema" />
            <span>Agenția de dezvoltare regională</span>
        </a>
        <a target="_blank" href="#">
            <img src="@img/logos/link2.png" alt="stema" />
            <span> Congresul Autorităților Locale din Moldova </span>
        </a>
        <a target="_blank" href="#">
            <img src="@img/logos/link3.png" alt="stema" />
            <span> Academia de Științe a Moldovei </span>
        </a>
        <a target="_blank" href="https://fmf.md/rezina">
            <img src="@img/logos/link4.png" alt="stema" />
            <span> Asociația de fotbal a Raionului Rezina </span>
        </a>
        <a target="_blank" href="#">
            <img src="@img/logos/link5.png" alt="stema" />
            <span> Biblioteca Publică “Mihai Eminescu” </span>
        </a>
        <a target="_blank" href="#">
            <img src="@img/logos/link6.png" alt="stema" />
            <span>
                Organizația de atragere a investițiilor și promovare a exportului din Moldova
            </span>
        </a>
        <a target="_blank" href="#">
            <img src="@img/logos/link7.png" alt="stema" />
            <span>
                Organizația de atragere a investițiilor și promovare a exportului din Moldova
            </span>
        </a>
    </div>

    <div class="block-title">
        <h6>Categorii</h6>
    </div>

    <div class="sidebar-block sidebar-categories">
        <a href="#"> Galerie foto </a>
        <a href="#"> Hartă site </a>
    </div>
</aside>
