<div class="single-title">
    <div class="single-title__container">
        <div
            class="single-title__body title-body"
            style="background: url('@img/hero.jpg') 50% 50% / cover no-repeat"
        >
            <div class="title-body__content">
                <h1>Mesaj de felicitare cu ocazia Zilei Profesionale a arhivistului</h1>
                <div class="post-meta flex-gap-1">
                    <a href="category.html" style="color: #fd3259"> Societate </a>
                    /
                    <div class="post-meta__info">
                        <span class="icon-person"></span>
                        Consiliul Raional Rezina
                    </div>
                    /
                    <div class="post-meta__info">
                        <span class="icon-calendar"></span>
                        08 iulie, 2022
                    </div>
                    /
                    <div class="post-meta__info">
                        <span class="icon-comment"></span>
                        12
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
